body, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}

.w3-padding-large {
  padding: 64px !important;
}

#w3-main {
  margin-left: 120px;
}

@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

label {
  margin: 10px;
  width: 100%;
  text-align: left;
  color: #333;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
